<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Template</title>
</head>

<body>
    <h1>Hey {{ name }},</h1>
    <p> We hope you're doing well</p>
    <p>Today's task log is ready! Find the log below.</p>
    {{ #each tasks}}
    <ul
        style="display: flex; flex-direction: column; justify-content: center; gap: 2px; margin: 5px; list-style-type: none;">
        <li>{{this.description}}</li>
        <li>{{this.dueDate}}</li>
        <li>{{this.user}}</li>
        <li>{{this.project}}</li>
    </ul>
    {{ /each }}
    <p>with regards,</p>
    <p>Task management system</p>
</body>

</html>